.workpage {
    &__container {
        padding: 10rem 23rem;
    }
    &__header {
        font-weight: 700;
        font-size: 5rem;
        line-height: 6.5rem;
        margin-bottom: 6rem;
    }
}
